<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <script src="/socket.io/socket.io.js"></script> <!--The socket.io have to be called before every script-->
    <script src="./js/main.js"></script>
    <script src="./js/auth.js"></script>
    <script src="./js/contacts.js"></script>
    <script src="./js/profile.js"></script>
    <script src="./js/add-contact.js"></script>
    <script src="./js/chat.js"></script>
    <title>Chaterty.io</title>
</head>
<body>
    <div class="center">
        
    </div>
    <div class="name">Project by <p class="innername">Rodrigo Seguel</p></div>
</body>
</html>